<div class="{{ styles.root }}">

{{{pages_index_components_actionUserFind 
    attachName="find"
    filterLabel="Логин"
    isValidFilter=isValidFilter
    execute=findExecute }}}

{{{pages_index_components_actionUser 
    attachName="action"
    buttonLabel="Добавить в чат"
    execute=actionExecute }}}

</div>
