.profile-body {
    display: flex;
    height: 100%;

    &__left-col {
        width: 280px;
    }

    &__right-col {
        @mixin centerwrapper;
        flex-grow: 1;
    }

    &__pass-cont {
        margin-top: 1.5em;
    }
}