@import url("src/style/variable.pcss");
@import url("src/style/mixin.pcss");

.root {
    padding: var(--mini-offser);
    cursor: pointer;

    &:hover {
        background: var(--hover-color);
    }
}
