{{#*inline "className"}}text-button{{/inline}}

<div class="{{> className}} {{#if red}}{{> className}}--red{{/if}}">
    
    <button onClick="gotoPage('{{gotoPageName}}')">
        
        <span class="{{> className}}__label">{{label}}</span>
        
    </button>

</div>