
<div class="{{ styles.root }} {{#if red}}{{ styles.root }}--red{{/if}}">
    
    <button> 
            
        <span class="{{ styles.root }}__label">{{label}}</span>
        
    </button>

</div>
