@import url("src/style/clear.pcss");
@import url("src/style/variable.pcss");

.root {
    color: var(--active-color);
    display: inline-flex;

    &__button {
        display: flex;
    }

    &--red {
        color: var(--red-font-color);
    }
}
