@import "src/style/clear.pcss";
@import "src/style/variable.pcss";

.text-button {

    display: inline-flex;
    color: var(--active-color);

    &__label {
        width: 100%;
    }

    &--red {
        color: var(--red-font-color);
    }
}
