{{#layout_pageDialog
    title="Авторизация"
    item=this.login }}

<div>
    {{{pages_login_components_loginBody }}}
    
    {{#components_centerPane horizontalType = "center" verticalType = "center" withMarginTop=1 }}
        {{{components_textButton label="Нет профиля?" [event:click]="onClickSign" }}}
    {{/components_centerPane}}

</div>
{{/layout_pageDialog}}
