<div class="{{styles.root}}">
    {{#layout_pageDialog
    title = "Авторизация"
    attachName="pane"
    }}

        <div class="{{styles.root__body}}" >
           
            {{{pages_login_components_loginBody item=item
                execute=executeLogin }}}
            
            {{#layout_centerPane }}
                {{{components_textButton label="Нет профиля?" [event:click]=goSing }}}
            {{/layout_centerPane}}

        </div>
    {{/layout_pageDialog}}
</div>
