<div class="{{styles.root}}">
    {{#layout_pageDialog
    title = "Авторизация"
    }}

        <div class="{{styles.root}}__body" >
           
            {{{pages_login_components_loginBody item=item}}}
            
            {{#components_centerPane horizontalType = "center" verticalType = "center" withMarginTop=1 }}
                {{{components_textButton label="Нет профиля?" [event:click]=onClickSign }}}
            {{/components_centerPane}}

        </div>
    {{/layout_pageDialog}}
</div>
