
button {
    color: white;
    width: 280px;

    display: inline-flex;
    align-items: center;
    background: #3369F3;
    /*border: 1px solid transparent;*/
    height: 37px;
    color: white; /* var(--color-text);*/
    padding: 8px 20px;
    overflow: hidden;
    white-space: nowrap;
    justify-content: flex-start;
    border-radius: 8px;

    .&__label {
        width: 100%;
    }
}