@import "static/css/clear.pcss";
@import "static/css/variable.pcss";

.button {
    margin-top: 1.5em;
    
    color: white;
    width: 280px;

    display: inline-flex;
    align-items: center;
    background: var(--primary-color);
    height: 3em;
    border-radius: var(--button-radius);

    &__label {
        width: 100%;
    }

    &--red {
        color: var(--red-font-color);
    }
}