{{#*inline "className"}}input{{/inline}}

<div class="{{> className}}">

    <div class="{{> className}}__body" 
        data-error="{{errorMessage}}"> 

        <input  class="{{> className}}__input" 
            type="{{inputType}}"
            placeholder=" " autocomplete="off"
            value="{{value}}" >

        <label class="{{> className}}__label">
            {{label}}
        </label>

    </div>

</div>