@import "src/style/mixin.pcss";
@import "src/style/variable.pcss";

.error-page {
    @mixin center-position;
    
    &__wrapper {
        @mixin center-position-wrapper;

        height: 100%;
    }

    &__message {
        font-size: var(--h2-font-size);
    }

    &__back {
        margin-top: var(--primary-offset);
    }
}
