{{#*inline "className"}}chat-list{{/inline}}

<div class="{{> className}}">

    <div class="{{> className}}__header">
       <div class="{{> className}}__header__label">
            Чаты
       </div> 
       <div>
            {{> components/textButton/index label="Найти чат" type="button" }}
        </div>
    </div>

    <div class="{{> className}}__list">

    </div>

</div>