.chat-list {

    &__header {
        display: flex;
        flex-direction: row;
        padding: var(--micro-offser); 
    }
    
    &__header__label{
        flex-grow: 1;
        color: var(--grey-font-color);
    }

    &__list {
        border-top: var(--normal-border-size) solid var(--border-color);
        flex-grow: 1;
    }
}