---
id: "root" 
---
<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Hello</title>
        <meta charset="utf-8">
    </head>
    <body>
        <a href="/src/pages/index.hbs">Домой</a>
        <a href="/src/pages/login.hbs">Авторизация</a>
        <a href="/src/pages/sign.hbs">Регистриция</a>
        <a href="/src/pages/profile.hbs">profile</a>
    </body>
</html> 