---
id: "root" 
---
<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Hello</title>
        <meta charset="utf-8">
        <script type="module" src="index.ts"></script>
    </head>
    <body>
<div id="app"></div>
    </body>
</html> 
