---
id: "root" 
---
<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Hello</title>
        <meta charset="utf-8">
    </head>
    <body>
        
        <div><a href="/src/pages/login/index.hbs">Авторизация</a></div>
        <div><a href="/src/pages/sign/index.hbs">Регистриция</a></div>
        <div><a href="/src/pages/profile/index.hbs">Профиль</a></div>
        <div><a href="/src/pages/error404.hbs">404 ошибка</a></div>
        <div><a href="/src/pages/error500.hbs">500 ошибка</a></div>
    </body>
</html> 