@import url("src/style/mixin.pcss");

.root {
    align-items: center;
    cursor: pointer;
    display: flex;
    padding: var(--micro-offset);

    &:hover, &--selected {
        background: var(--hover-color);
    }

    &__label {
        @mixin text-ellipsis
    ;

        flex-grow: 1;
        margin-left: var(--micro-offset);}

    &__date {
       color: var(--grey-font-color);
       font-size: var(--mini-font-size);
    }
}
