@import "static/css/clear.pcss";
@import "static/css/variable.pcss";

.textButton-wrapper {
    width: 280px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    
    height: 37px;
    color: var(--primary-color);

    &__label {
        width: 100%;
    }
}