@import "static/css/clear.pcss";
@import "static/css/variable.pcss";

.text-button {
    margin-top: 1.5em;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    
    color: var(--primary-color);

    &__label {
        width: 100%;
    }

    &--red {
        color: var(--red-font-color);
    }
}