
<div class="{{ style.root }}">

    {{{components_avatar imageUrl=item.avatar diameter='M' 
        avatarOwner=item.display_name }}}

    <h2 class="{{ style.root }}__header">
        {{item.display_name}}
    </h2>

</div>
