
<div class="{{ styles.root }}">

    {{{components_avatar imageUrl=item.avatar diameter='M' 
        avatarOwner=item.profile.display_name }}}

    <h2 class="{{ styles.root }}__header">
        {{item.profile.display_name}}
    </h2>

</div>
