.root {
    display: flex;
    flex-direction: row;
    padding: var(--micro-offset); 
    margin-bottom: var(--mini-offset); 

    &__header {
        align-self: center;
        margin-left: var(--micro-offset); 
        flex-grow: 1;
        text-align: left;
    }

}
