.chat-profile {
    display: flex;
    flex-direction: row;
    padding: var(--micro-offser); 
    margin-bottom: var(--mini-offser); 

    &__header {
        align-self: center;
        margin-left: var(--micro-offser); 
    }

}