@import url("src/style/mixin.pcss");

.root {
    display: flex;
    flex-direction: row; 
    margin-bottom: var(--mini-offset);
    padding: var(--micro-offset); 

    &__header {
        align-self: center; 
        flex-grow: 1;
        margin-left: var(--micro-offset);
        text-align: left;

        @mixin text-ellipsis;
    }

}
