{{#*inline "className"}}button{{/inline}}

<button class="{{> className}} {{#if red}}{{> className}}--red{{/if}}" 
    type="{{type}}"
    {{#if gotoPageName}} onClick="gotoPage('{{gotoPageName}}')" {{/if}}
    >

    <span class="button__label">
        {{label}}
    </span>

</button>
