{{#*inline "className"}}button{{/inline}}

<button class="{{> className}} {{#if red}}{{> className}}--red{{/if}}" 

    onClick="window.location.href='{{pageUrl}}'">

    <span class="button__label">
        {{label}}
    </span>

</button>