@import "src/style/variable.pcss";
@import "src/style/mixin.pcss";

.button {
    @mixin center-position-wrapper;
    @mixin input-offet;

    width: 280px;
    height: 3em;
    
    color: var(--font-active-color);
    background: var(--active-color);
    border-radius: var(--input-radius);

    &__label {
        @mixin center-position;
        width: 100%;
    }

    &--red {
        color: var(--red-font-color);
    }
}