.root {
    flex-grow: 1;
    overflow: auto;
   
    &__label {
        display: flex;
        margin-bottom: var(--mini-offset);
    }

    &__checkbox {
        margin-right: var(--mini-offset);
    }

}
