{{#*inline "className"}}textarea{{/inline}}

<div class="{{> className}}">

    <textarea  class="{{> className}}__textarea" 
            type="{{inputType}}"
            placeholder="{{label}}" autocomplete="off"
            value="{{value}}" 
            name="{{name}}"
             ></textarea>

</div>
