<div >

    {{{components_simpleTextarea
        attachName = "input"
        label = label
        value = value
        name = name
        [event:blur] = onBlurInput
        [event:focus] = onFocusInput
    }}}
    
    {{{components_simpleError attachName="error" error=error }}}

</div>
