{{#*inline "className"}}input{{/inline}}

<div class="{{> className}}">
    <div class="{{> className}}__body" data-error="{{errorMessage}}"> 
        <input type="{{inputType}}" class="{{> className}}__input" placeholder=" " autocomplete="off" >
        <label class="{{> className}}__label">{{label}}</label>
    </div>
</div>