
<div class="input-wrapper">
    <div class="input-wrapper__body"> 
        <input type="{{inputType}}" class="input-wrapper__input" placeholder=" " autocomplete="off" >
        <label class="input-wrapper__label">{{label}}</label>
    </div>
    {{#if errorMessage}}
    <span class="input-wrapper__error-mes">{{errorMessage}}</span>
    {{/if}}
</div>