<div class="{{styles.root}}">
    {{#layout_pageDialog 
        title="Ваш профиль" }}

        {{{pages_sign_components_signBody item=item}}}

        {{#components_centerPane horizontalType = "center" verticalType = "center" withMarginTop=1 }}
        {{{components_textButton label="Перейти к авторизации" [event:click]=onClickLogin }}}
        {{/components_centerPane }}
        

    {{/layout_pageDialog }}
</div>
