<div class="{{styles.root}}">
    {{#layout_pageDialog 
        attachName="pane"
        title="Ваш профиль" }}

        {{{pages_sign_components_signBody item=item }}}

        {{#layout_centerPane  }}
        {{{components_textButton label="Перейти к авторизации" [event:click]=goLogin }}}
        {{/layout_centerPane }}
        

    {{/layout_pageDialog }}
</div>
