{{#*inline "className"}}chat-mes-input{{/inline}}

{{#> components/form/index submitPageName="index" noButtonCont=1 }}

    {{#*inline "inline_fields"}}
        <div class="{{> className}}">

            <div class="{{> className}}__attach-cont">
                {{> components/textButton/index label="Прикрепить" type="button" }}
            </div>

            <div class="{{> className}}__input-cont">
                {{> components/textarea/index label="Сообщение" inputType="text" name="message" }}
            </div>

            <div class="{{> className}}__send-cont">
                {{> components/textButton/index label="Отправить" type="submit" }}
            </div>
        </div>
    {{/inline}}

{{/components/form/index}}


