.chat-mes-input {

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: var(--micro-offser); 
    
    &__input-cont {
        margin: 0 var(--micro-offser);
        flex-grow: 1;
    }
}