.root {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: var(--micro-offser);
    
    &__input-cont {
        margin: 0 var(--micro-offser);
        flex-grow: 1;
    }

    &__send-cont {
        padding: var(--micro-offser)
    }
}
