.root {
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: var(--micro-offset);

    &--nochat {
        display: none;
    }
    
    &__input-cont {
        flex-grow: 1;
        margin: 0 var(--micro-offset);
    }

    &__send-cont {
        padding: var(--micro-offset);
    }
}
