{{#*inline "className"}}chat-header{{/inline}}


<div class="{{> className}}">

    <div class="{{> className}}__avatar">
        {{> components/avatar/index imageUrl=profile.avatar diameter='S' 
            avatarOwner=profile.display_name }}
    </div>

    <div class="{{> className}}__label">
        {{profile.display_name}}
    </div>

</div>
