@import url("src/style/mixin.pcss");

.root {
    align-items: center;
    display: flex;
    padding: var(--mini-offset);

    &__label {
        flex-grow: 1;
        margin-left: var(--micro-offset);

        @mixin text-ellipsis;
    }

    &__label__users { 
        color: var(--grey-font-color);
        font-size: var(--mini-font-size);
    }

}
