{{#*inline "className"}}avatar{{/inline}}

<div class="{{> className}}">

    

    <label class="{{> className}}__label">
        <input type="file" 
            class="{{> className}}__input" 
            placeholder=" " autocomplete="off" >
    </label>

    <div class="{{> className}}__hover-label">
        {{clickLabel}}
    </div>
    
</div>