@import url("src/style/variable.pcss");
@import url("src/style/mixin.pcss");

.root {
    position: relative;
    color: var(--red-font-color);
    font-size: var(--mini-font-size);
    max-width: 300px;
}
