@import "static/css/variable.pcss";
@import "static/css/mixin.pcss";

.dialog {
    @mixin bordergray;
    padding: 30px;
    width: 340px;
    flex-direction: column;
    display: flex;

    &__header {
        font-size: var(--h-font-size);
        text-align: center;
    }

    &__body-cont {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    &__body {
        flex-grow: 1;
    }
}