@import url("src/style/variable.pcss");
@import url("src/style/mixin.pcss");

.root {
    &__button-cont {
        margin-top: var(--primary-offset);
    }

    &__file-name {
        color: var(--grey-font-color);
    }
}
