<div>
    <h1>ddfgfdg</h1>

    {{{components_button label="dsfdf"}}}
    
    {{#components_centerPane horizontalType = "center" verticalType = "center" withMarginTop=1 }}
       sddfdsff
    {{/components_centerPane }}
</div>
