{{#components_form submitPageName="index" item=item valiate=validateForm }}

    <div>
        {{{components_input label="Логин" key="login" item=item
            validate=validateLogin }}}
        {{{components_input label="Пароль" inputType="password" key="password" item=item
            validate=validatePassword }}}
    </div>

    <div>
        {{{components_button label="Войти" type="submit" [event:click]=onClickIndex }}}
    </div>

{{/components_form}}
