{{#components_form submitPageName="index" item=this.item }}

    <div>
        {{{components_input label="Логин" key="login" 
            [event:focus] = onFocusLogin 
            [event:blur] = onBlurLogin }}}
        {{{components_input label="Пароль" inputType="password" key="password" 
            [event:focus] = onFocusPassword
            [event:blur] = onBlurPassword }}}
    </div>

    <div>
        {{{components_button label="Войти" type="submit" [event:click]="onClickIndex" }}}
    </div>

{{/components_form}}
