    <label class="{{ styles.root }}">
        {{label}}
        
        {{{components_simpleInput 
            attachName = "input"
            type = "file"
            name = name
            accept = accept
            addedClasses = styles.root__simple-input
        }}}

    </label>
