    <label class="{{ styles.root }}">
        {{label}}
        
        {{{components_simpleInput 
            attachName = "input"
            type = "file"
            name = name
            accept = accept
            parentClassName = styles.root
        }}}

    </label>
