<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Чат</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/src/style/style.pcss"></link>
        <link rel="stylesheet" href="/node_modules/@fontsource/inter/index.css"></link>
        <script src="/src/utils/gotoPage.js"></script>
    </head>
    <body>
        {{#if @partial-block}}
            {{> @partial-block }}
        {{/if}}
    </body>
</html> 
