---
id: "root" 
---

{{#*inline "className"}}page-chat{{/inline}}

{{#> pages/page }}
   <div class="{{> className}}">

      <div class="{{> className}}__left-col">

         <div class="{{> className}}__profile">
         dfgfdg 1
         </div>

         <div class="{{> className}}__chats">
         dfgfd 2
         </div> 

      </div>


      <div class="{{> className}}__chat">
         <div class="{{> className}}__chat__header">
         fgdg 3
         </div>

         <div class="{{> className}}__chat__messages">
         dfgdfg 4 
         </div>

         <div class="{{> className}}__chat__input">
         dfgfdg 5
         </div>
      </div>

   </div>
{{/pages/page }}

