{{#*inline "className"}}page-dialog{{/inline}}

<div class="{{> className}}__wrapper">

    <div class="{{> className}}">

        <header>
            <h2 class="{{> className}}__header">{{title}}</h2>
        </header>

        <main >
             {{>  page_dialog_content }}
        </main>
    </div>

</div>