
<div class="{{ styles.root__wrapper }}">

    <div class="{{ styles.root }}">

        <header>
            <h2 class="{{ styles.root__header }}">{{title}}</h2>
        </header>

        <main>
            <div data-content></div>
        </main>
    </div>

</div>
