
{{#*inline "addedClassName" ~}}
    {{~#if withMarginTop}} {{ styles.root }}--with-margin-top{{~/if~}}
    {{~#if addeClassName}} {{addeClassName}}{{~/if~}}   
{{~/inline}}


<div class="{{ styles.root }} {{> addedClassName}}">

    <div class="{{ styles.root }}__content" >
        <div data-content></div>
    </div>

</div>
