{{#*inline "className"}}profile-body{{/inline}}

<div class="{{> className}}">

    <div class="{{> className}}__left-col">

        <div class="{{> className}}__settings-cont">

            {{#> components/form/index submitPageName="index" }}

                {{#*inline "inline_fields"}}
                    {{> components/input/index label="Имя в чате" inputType="text" name="display_name" value=this.item.display_name }}
                    {{> components/input/index label="Логин" inputType="text" name="login" value=this.item.login }}
                    {{> components/input/index label="Имя" inputType="text" name="first_name" value=this.item.first_name }}
                    {{> components/input/index label="Фамилия" inputType="text" name="second_name" value=this.item.second_name }}
                    {{> components/input/index label="Почта" inputType="text" name="email" value=this.item.email }}
                    {{> components/input/index label="Телефон" inputType="tel" name="phone" value=this.item.phone }}
                {{/inline}}
                
                {{#*inline "inline_buttons"}}
                    {{> components/button/index label="Сохранить изменения" type="submit" }}
                {{/inline}}

            {{/components/form/index}}

        </div>    

    </div>


    <div class="{{> className}}__right-col">
        
        <div class="{{> className}}__avatar-cont">
            {{> components/avatar/index clickLabel="Изменить аватар" gotoPageName="error404" imageUrl=this.item.avatar}}
        </div>

        <div class="{{> className}}__pass-cont">
            {{> components/textButton/index label="Изменить пароль" gotoPageName="error404" }}
        </div>

        <div class="{{> className}}__logout-cont">
            <div>{{> components/textButton/index label="Выйти из профиля" gotoPageName="login"
                    red=1 }}</div>
        </div>
        
    </div>
</div>
