@import "src/style/variable.pcss";
@import "src/style/mixin.pcss";

.center-pane {
    @mixin center-position-wrapper;

    &__content {
        @mixin center-position;
    }

    &--with-margin-top{
        margin-top: var(--second-offset);
    }

}