{{#*inline "className"}}pane{{/inline}}

{{#*inline "addedClassName" ~}}
    {{~#if secBackColor}} {{> className}}--second-back-color{{~/if~}}
    {{~#if withBorder}} {{> className}}--with-border{{~/if~}}
    {{~#if withMarginTop}} {{> className}}--with-margin-top{{~/if~}}
    {{~#if h100}} {{> className}}--h100{{~/if~}}
    {{~#if addeClassName}} {{addeClassName}}{{~/if~}}   
{{~/inline}}


<div class="{{> className}} {{> addedClassName}}">
    {{> @partial-block }}
</div>
