@import "src/style/variable.pcss";
@import "src/style/mixin.pcss";

.pane {
    display: flex;
    flex-direction: column;

    &--second-back-color {
        background: var(--second-back-color);
    }

    &--with-border {
        @mixin border-gray;
    }

    &--with-margin-top{
        margin-top: var(--second-offset);
    }

    &--h100{
        height: 100%;
    }
}