{{#*inline "className"}}profile-body{{/inline}}

<div class="{{> className}}">

    <div class="{{> className}}__left-col">

        <div class="{{> className}}__settings-cont">
            {{> components/input/index label="Имя в чате" inputType="text" name="display_name" }}
            {{> components/input/index label="Логин" inputType="text" name="login" }}
            {{> components/input/index label="Имя" inputType="text" name="first_name" }}
            {{> components/input/index label="Фамилия" inputType="text" name="second_name" }}
            {{> components/input/index label="Почта" inputType="text" name="email" }}
            {{> components/input/index label="Телефон" inputType="text" name="phone" }}

            <div class="{{> className}}__save_cont">
                {{> components/button/index label="Сохранить изменения"  pageUrl="/src/pages/index.html" }}
            </div>
        </div>    

    </div>


    <div class="{{> className}}__right-col">
        
        <div class="{{> className}}__avatar-cont">
            {{> pages/profile/avatar/index clickLabel="Изменить аватар" }}
        </div>

        <div class="{{> className}}__pass-cont">
            {{> components/textButton/index label="Изменить пароль"  }}
        </div>

        <div class="{{> className}}__logout-cont">
            <div>{{> components/textButton/index label="Выйти из профиля" pageUrl="/src/pages/login.html"
                    red=1 }}</div>
        </div>
        

    </div>
</div>