
@import url("src/style/clear.pcss");
@import url("src/style/mixin.pcss");

#app {
    height: 100%;
    width: 100%;
}

.attache-icon {
    @mixin icon-l;

    background: url("/static/images/attache.svg");
}

.send-icon {
    @mixin icon-m;

    background: url("/static/images/send.svg");
}

.menu-icon {
    @mixin icon-s;

    background: url("/static/images/menu.svg");
}
