@import url("src/style/variable.pcss");
@import url("src/style/clear.pcss");
@import url("src/style/mixin.pcss");

#app {
    width: 100%;
    height: 100%;
}

.attache-icon {
    background: url("/static/images/attache.svg");
    min-width: 32px;
    height: 32px;
}
