<div>
    {{> common/button/index label="Сохранить изменения"  pageUrl="/src/pages/index.html" }}
</div>

<div>
    {{> common/textButton/index label="Не сохранять и выйти" pageUrl="/src/pages/index.html"
        red=1 }}
</div>
