<div class="{{ styles.root }}__wrapper">

    <div class="{{ styles.root }}">

        <header>
            <h2 class="{{ styles.root }}__header">{{title}}</h2>
        </header>

        <main>
            <div data-content></div>
        </main>
    </div>

</div>
