<div class="{{ styles.root }}">
{{#components_form 
    attachName=FORM_ATTACHE_NAME
    [event:submit]=onSubmit }}

    <div>
        {{{components_input label="Имя чата" name="name" }}}
    </div>

    <div class="{{ styles.root__button-cont}}">
        {{{components_button label="Создать" type="submit" }}}
    </div>

{{/components_form}}
</div>
