
<div class="{{ styles.root }}  {{#if storeItem.selectedChat}}{{ styles.root--with-chat }}{{/if}} ">

    {{storeItem.selectedChat}}
    <div class="{{ styles.root__text }}">Выберите чат, чтобы отправить сообщение</div>
    

</div>
