
<div class="{{ styles.root }}  {{#if item.selectedChat}}{{ styles.root--with-chat }}{{/if}} ">

    
    <div class="{{ styles.root__text }}">Выберите чат, чтобы отправить сообщение</div>
    

</div>
