<div class="dialog {{className}}">
<header><h1 class="dialog__header">{{title}}</h1></header>
<main class="dialog__body-cont">
    <div class="dialog__body">
        {{> (lookup . 'templateBody')}}
    </div>
    <div class="dialog__buttons">
         {{> (lookup . 'templateButtons')}}
    </div>
</main>
</div>