<div class="{{ styles.root }}">

{{{pages_index_components_actionUserFind 
    attachName="find"
    filterLabel="Имя и/или Фамилия"
    execute=findExecute 
    isValidFilter = isValidFilter
    }}}

{{{pages_index_components_actionUser 
    attachName="action"
    buttonLabel="Удалить из чата"
    execute=actionExecute }}}

</div>
