
<div class="{{ styles.root }}">

{{#if storeItem.selectedChatId}}

    <div>
        {{#with this as | parent | }}
            {{#each messageGroups  }}

                <div class="{{ parent.styles.root__group }}">
                    {{#layout_centerPane addeClassName=parent.styles.root__group-name}}
                     {{this.[0]}}
                    {{/layout_centerPane}}
                    
                        {{#each this.[1]  }}
 
                            {{{pages_index_components_messageItem 
                                storeItem=this 
                                userId=parent.storeItem.userId 
                                scrollMessage=parent.storeItem.scrollMessage
                                chatUsers=parent.storeItem.chatUsers
                            }}}

                        {{/each}}
                    
                </div>

            {{/each}}
        {{/with}}
    </div>
    
{{/if}}

</div>
