
<div class="{{ styles.root }}">

{{#if item.selectedChatId}}

    <div>
        {{#with this as | parent | }}
            {{#each messageGroups  }}

                <div class="{{ parent.styles.root__group }}">
                    {{#layout_centerPane addeClassName=parent.styles.root__group-name}}
                     {{this.[0]}}
                    {{/layout_centerPane}}
                    
                        {{#each this.[1]  }}
 
                            {{{pages_index_components_messageItem 
                                item=this 
                                userId=parent.item.userId 
                                scrollMessage=parent.item.scrollMessage
                            }}}

                        {{/each}}
                    
                </div>

            {{/each}}
        {{/with}}
    </div>
    
{{/if}}

</div>
