
<div class="{{ styles.root }}">

{{#if item.selectedChatId}}

    <div>

        <div class="{{ styles.root__group }}">

            {{#with this as | parent | }}
                {{#each item.messages  }}

                    {{{pages_index_components_messageItem item=this selectedChatId=parent.selectedChatId }}}

                {{/each}}
            {{/with}}
        </div>

    </div>

{{else}}

    {{#layout_centerPane }}
        <div>Выберите чат, чтобы отправить сообщение</div>
    {{/layout_centerPane }}

{{/if}}

</div>
