
@import url("src/style/mixin.pcss");

.root {
    padding: var(--second-offset);

    &__group {
        display: flex;
        flex-direction: column;
    }

    &__group-name {
        color: var(--grey-font-color);
    }
}
